<!DOCTYPE html>
<html>
<head>
  <title>AGENDA</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery/jquery' %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>
<ul>
	<li><a href="/pessoas/">Pessoa</a></li>
	<li><a href="/enderecos/">Endereços</a></li>
	<li><a href="/contatos/">Contato</a></li>
	<li><a href="/tipo_contatos/">Tipo de Contato</a></li>
</ul>
<%= yield %>

</body>
</html>
